<header class="bg-dark text-white border-bottom border-secondary py-3">

    <div class="d-flex flex-wrap justify-content-between align-items-center px-4">

    <!-- Logo -->
      <a routerLink="/" class="d-flex align-items-center text-white text-decoration-none">
        <svg class="bi me-2" width="20" height="20" aria-hidden="true">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4 fw-medium  ">Earl Lamier</span>
      </a>

      <!-- Navigation Menu -->
      <nav>
        <ul class="nav nav-pills gap-3">
          <li class="nav-item">
            <a routerLink="/home" 
              routerLinkActive="active" 
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link text-white px-4 rounded-3 hover-bg">
              Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/" 
              fragment="about" 
              routerLinkActive="active"
              class="nav-link text-white px-4 rounded-3 hover-bg">
              About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/" 
              fragment="skills" 
              routerLinkActive="active"
              class="nav-link text-white px-4 rounded-3 hover-bg">
              Skills</a>
          </li>
          <li class="nav-item">
            <a routerLink="/" 
              fragment="projects" 
              routerLinkActive="active"
              class="nav-link text-white px-4 rounded-3 hover-bg">
              Projects</a>
          </li>
          <li class="nav-item">
            <a routerLink="/" 
              fragment="contact" 
              routerLinkActive="active"
              class="nav-link text-white px-4 rounded-3 hover-bg">
              Contact</a>
          </li>
        </ul>
      </nav>
    </div> <!-- /d-flex --> 

</header>
