/* Set the background color of the header navigation */
.navbar {
/*   background-color: var(--primary-color) !important;  *//* Default color */
  background-color: white !important;
  font-family: 'Courier New', Courier, monospace; /* Set font style */
}

.nav-link {
  color: var(--text-light) !important; /* White text */
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Courier New', Courier, monospace; /* Set font style for links */
}


.nav-link.active {
/*   background-color: #0d6efd !important;  */
  background-color: transparent !important; /* Transparent background for active link */
  color: #fff !important;
}

.hover-bg:hover {
/*   background-color: rgba(255, 255, 255, 0.1); */
  background-color: #f0f0f0 !important;
  transition: background-color 0.3s ease;
  color: black !important; /* Change text color on hover */
}
