<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
      <!-- Footer Text -->
      <p class="mb-2 text-center text-sm-start">
        © 2025 Earl Lamier - Full Stack Software Application Developer. All rights reserved. Made in Angular 19 🚀 | <a href="https://www.earl-lamier.dev" style="color: white; text-decoration: none;">www.earl-lamier.dev</a>
      </p>

      <!-- Social Media Icons -->
      <ul class="list-unstyled d-flex mb-0">
        <li class="ms-3">
          <a class="text-white" href="https://github.com/earlblamier" aria-label="Github">
            <i class="bi bi-github fs-4"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-white" href="https://www.linkedin.com/in/earl-lamier" aria-label="LinkedIn">
            <i class="bi bi-linkedin fs-4"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-white" href="https://x.com/earllamier" aria-label="Twitter">
            <i class="bi bi-twitter-x fs-4"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-white" href="https://www.instagram.com/earl.lamier/" aria-label="Instagram">
            <i class="bi bi-instagram fs-4"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-white" href="https://www.facebook.com/earl.lamier.5" aria-label="Facebook">
            <i class="bi bi-facebook fs-4"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>