<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Features</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
          <i class="bi bi-bootstrap text-body-secondary flex-shrink-0 me-3 fs-3"></i>
          <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Instant Task Matching</h3>
              <p>Connect users with the right service providers in real-time</p>
          </div>
      </div>
      <div class="col d-flex align-items-start">
          <i class="bi bi-cpu-fill text-body-secondary flex-shrink-0 me-3 fs-3"></i>
          <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">AI-Powered Recommendations</h3>
              <p>Personalized service suggestions based on user needs</p>
          </div>
      </div>
      <div class="col d-flex align-items-start">
          <i class="bi bi-calendar3 text-body-secondary flex-shrink-0 me-3 fs-3"></i>
          <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Smart Scheduling </h3>
              <p>Book services on-demand or schedule them for later.</p>
          </div>
      </div>
      <div class="col d-flex align-items-start">
          <i class="bi bi-house text-body-secondary flex-shrink-0 me-3 fs-3"></i>
          <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Social Impact Initiatives</h3>
              <p>Connect with services that support communities in need.</p>
          </div>
      </div>
      <div class="col d-flex align-items-start">
          <i class="bi bi-speedometer2 text-body-secondary flex-shrink-0 me-3 fs-3"></i>
          <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">User Ratings & Reviews</h3>
              <p>Build trust with verified reviews and ratings.</p>
          </div>
      </div>
      <div class="col d-flex align-items-start">
          <i class="bi bi-toggles2 text-body-secondary flex-shrink-0 me-3 fs-3"></i>
          <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Multi-Service Categories</h3>
              <p>From home maintenance to personal assistance, all in one app.</p>
          </div>
      </div>
      <div class="col d-flex align-items-start">
          <i class="bi bi-geo-alt-fill text-body-secondary flex-shrink-0 me-3 fs-3"></i>
          <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Real-Time Tracking</h3>
              <p>Track service providers in real-time for better transparency.</p>
          </div>
      </div>
      <div class="col d-flex align-items-start">
          <i class="bi bi-tools text-body-secondary flex-shrink-0 me-3 fs-3"></i>
          <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Seamless Chat & Support</h3>
              <p>In-app messaging for easy communication.</p>
          </div>
      </div>
  </div>
</div>
