<div class="b-page-divider"></div>

<!-- Feature Section -->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://raw.githubusercontent.com/earlblamier/angular-web-project/refs/heads/main/src/assets/images/ad-image-1.jpg" class="d-block mx-lg-auto img-fluid" alt="ad image" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 custom-heading">About Me</h1>
      <p class="lead">Forward Innovator</p>
      <p class="custom-secondary-text">
        Innovative IT professional with 10+ years of experience, including 5 years in software development. Specializes in web and mobile application development, offering tailored IT consultancy. Proven track record in enhancing efficiency, data management, cybersecurity, and process optimization. Skilled in delivering secure, high-quality solutions that ensure data integrity, regulatory compliance, and effective business management. Consistently surpasses client expectations with efficient and secure solutions.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        
      </div>
    </div>
  </div>
</div>