
<!-- map -->
<!-- <div class="bg-black"> -->
<!-- <div class="b-page-divider"></div>
<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
      <h1>Let’s grab a coffee! Find the perfect café nearby using the map.</h1>
      <svg class="bi mt-5 mb-3" width="48" height="48"><use xlink:href="#check2-circle"></use></svg>
      <div class="ratio ratio-16x9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96714.68291250926!2d-79.6065798!3d43.7288224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3a5391c12321%3A0x747f0c3b5cdecaa0!2sHumber+Polytechnic!5e0!3m2!1sen!2sus!4v1687000000000" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
</div>
 -->

 <div class="b-page-divider"></div>
 <div class="container my-5">
     <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
       <h1>Anywhere across the globe—I’m always glad to help and bring ideas to life.</h1>
       <svg class="bi mt-1 mb-1" width="32" height="32"><use xlink:href="#check2-circle"></use></svg>
       <div style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden;">
        <iframe 
          src="https://www.google.com/maps/embed"
          style="position:absolute; top:0; left:0; width:100%; height:100%; border:0;"
          allowfullscreen
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      
     </div>
 </div>