<div class="b-page-divider"></div>
<div class="container py-5">
    <!-- Featurette Row -->
    <div class="row featurette align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span>
        </h2>
        <p class="lead">
          Experience the convenience and efficiency of our platform, designed to simplify your tasks and connect you with the right services instantly. Whether you need quick assistance or a reliable solution, we’ve got you covered.
        </p>
      </div>
      <div class="col-md-5 order-md-1 text-center">
        <img src="assets/images/tazkify-ad-1.jpg" class="img-fluid rounded shadow-lg" alt="Featurette Image">
      </div>
    </div>
</div>
