<div class="b-page-divider"></div>

<div class="bg-black py-5">
  <div class="container">
    <!-- Featurette Row -->
    <div class="row featurette align-items-center">
      <!-- Text Content -->
      <div class="col-md-7 order-md-2">
        <h1 class="featurette-heading fw-bold lh-1 text-white border-bottom pb-2">
          Feature Project
        </h1>
        <h2 class="featurette-heading fw-normal lh-1 text-white mt-4">
          Oh yeah, it’s that good. <span class="text-secondary">See for yourself.</span>
        </h2>
        <p class="lead mt-3 text-light">
          Experience the convenience and efficiency of our platform, designed to simplify your tasks and connect you with the right services instantly. Whether you need quick assistance or a reliable solution, we’ve got you covered.
        </p>
      </div>

      <!-- Image Content -->
      <div class="col-md-5 order-md-1 text-center">
        <a href="https://www.tazkify.app" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/tazkify-ad-1.jpg" class="img-fluid rounded shadow-lg" alt="Featurette Image">
        </a>
      </div>
    </div>
  </div>
</div>