<div class="b-page-divider"></div>

<div id="projects" class="bg-black py-5">
  <div class="container px-4" id="custom-cards">
    <h2 class="pb-2 border-bottom text-white">// Projects</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <!-- Card 1 -->
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
             style="background-image: url('assets/images/ad-image-earth.jpg'); background-size: cover; background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Instant Access to Essential Services</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <!-- <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> -->
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <!--   <small>Earth</small> -->
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <!-- <small>3d</small> -->
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col">
        <a href="https://www.helionfrost.com" target="_blank" class="text-decoration-none">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="background-image: url('assets/images/helionfrost-logo-v2.jpg'); background-size: cover; background-position: center;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <!-- <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">text</h3> -->
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <!-- <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> -->
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use x  link:href="#geo-fill"></use></svg>
                  <small>Canada | Philippines</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                  <!-- <small>4d</small> -->
                </li>
              </ul>
            </div>
          </div> <!-- card -->
          <p class="mt-2 text-white">Provides IT consultancy services for individuals and small to medium-sized businesses. We blend creativity, innovation, and technical expertise to help clients grow and thrive in the digital space. 🌌</p>  
        </a>
      </div> <!-- Card 2 ends here -->

      <!-- Card 3 -->
      <div class="col">
        <a href="https://github.com/earlblamier/pdf-organizer" target="_blank" class="text-decoration-none">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
             style="background-image: url('assets/images/pypdf.jpg'); background-size: cover; background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Python</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://skillicons.dev/icons?i=github" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <!-- <small>Python</small> -->
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small></small>
              </li>
            </ul>
         
          </div>
       
        </div>
        <p class="mt-2 text-white">PDF Organizer is a tool for managing multiple PDFs efficiently. It counts records per file, processes and organizes multiple PDFs, merges files, generates reports, and counts files in folders. 🚀</p>
        </a>
        </div>

    </div>
  </div><!-- End of Container -->
</div><!-- projects -->
