/* filepath: /d:/projects/Angular/tazkify/src/app/main-content/main-content.component.scss */
.background-image {
    //background-image: url('/assets/images/bg-image-main.jpg');
    background-image: url('https://raw.githubusercontent.com/earlblamier/angular-web-project/refs/heads/main/src/assets/images/bg-image-main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* filepath: /d:/projects/Angular/tazkify/src/app/main-content/main-content.component.scss */
.btn-outline-primary {
    color: #07775e; /* Change this to your desired button color */
    border-color: #07775e;
  }
  
  .btn-outline-primary:hover {
    background-color: #07785c;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #07775e; /* Change this to your desired button color */
    border-color: #07775e;
    ;
  }
  
  .btn-primary:hover {
    background-color: #fac12b;
    border-color: #fac12b;
  }

  /* Override Bootstrap's btn-outline-secondary class */
.btn-outline-secondary {
  color: #07775e; /* Change this to your desired button color */
  border-color: #07775e;
}

.btn-outline-secondary:hover {
  background-color: #fac12b;
  color: #fff;
}