
<div class="hero-section position-relative text-light">
  <canvas id="constellation-canvas"></canvas>

  <div class="container position-absolute top-50 start-50 translate-middle text-center">
    <h1 class="display-4 fw-bold gradient-text">Hello, I'm Earl!</h1>
    <p class="lead">Welcome to my world—where art meets science and tech. I design and build meaningful apps.</p>
    <a href="https://www.linkedin.com/in/earl-lamier/" class="btn btn-primary btn-lg px-4 me-md-2">Earl Lamier</a>
    <a href="https://calendly.com/earl-lamier" class="btn btn-outline-secondary btn-lg px-4">Book an appointment</a>
    <div class="text-lower mt-5 pt-5">
      <span class="fancy-url d-block mt-2" id="burst-url">www.earl-lamier.dev</span>
    </div>
  </div>
  
</div>
