
<header>
  <button
      *ngIf="showBackToTop"
      class="btn back-to-top"
      (click)="scrollToTop()"
      aria-label="Back to Top"
    >
    <i class="bi bi-arrow-up-circle-fill fs-3"></i>
  </button>
</header>

<main>
  <app-main-content></app-main-content>
  <div id="about">
    <app-about></app-about>
  </div>
  <div id="skills">
    <app-tech-stack></app-tech-stack>
  </div>
  <div id="projects">
    <app-projects></app-projects>
  </div>  
  <app-feature-left></app-feature-left>
  <!-- <app-test></app-test> -->
  <app-icon-grid></app-icon-grid>
  <app-partners></app-partners>
  <app-map></app-map>

</main>

<footer>
  <div id="contact">
    <app-contact></app-contact>
  </div>
  <app-footer></app-footer>
</footer>
