<div class="b-page-divider"></div>

<!-- start - about connections -->
<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Your trusted partner in success</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">Social Impact</h2>
      <p class="text-body-secondary">
        Creating positive change by making essential services accessible, empowering communities, and connecting people in need with those who can help.
      </p>
      <a href="/contact" class="btn btn-primary btn-lg">Connect With Us</a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small">
            <i class="bi bi-collection"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Purpose-Driven & Impactful</h4>
          <p class="text-body-secondary">
            Connecting people to the help they need, when they need it.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small">
            <i class="bi bi-gear-fill"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Community & Accessibility Focus</h4>
          <p class="text-body-secondary">
            Bridging the gap between those who can help and those in need.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small">
            <i class="bi bi-speedometer"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Human-Centered & Supportive</h4>
          <p class="text-body-secondary">
            We’re more than just an on-demand service app—we’re a movement.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small">
            <i class="bi bi-table"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Bringing People Together Through Smart Assistance</h4>
          <p class="text-body-secondary">
            Fosters a sense of community by making essential services more accessible.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end - about connection -->